<section class="container boost">
  <!--Join 100-->
  <div class="boost-box">
    <h2 class="boost-title" hidden></h2>
    <p class="boost-title-paragraph">
      Join 100 Compannies who boost their business with Product
    </p>
    <button type="button" class="boost-button">Get This</button>
    <div class="boost-image-box">
      <picture>
        <source
          media="(min-width:1150px)"
          srcset="../img/screen-desk-min.png, ../img/screen-desk@2x-min.png 2x"
        />
        <source
          media="(min-width:320px)"
          srcset="../img/screen-mob-min.png, ../img/screen-mob@2x-min.png 2x"
        />
        <img
          src="../img/screen-desk-min.png"
          alt="avatar-gm"
          width="351"
          height="331"
        />
      </picture>
    </div>
  </div>
</section>
