<section class="container colloborative">
  <!--Management-->
  <picture>
    <source
      media="(min-width:1150px)"
      srcset="
        ../img/image-folder-desk-min.png,
        ../img/image-folder-desk@2x-min.png 2x
      "
    />
    <source
      media="(min-width:320px)"
      srcset="
        ../img/image-folder-mob-min.png,
        ../img/image-folder-mob@2x-min.png 2x
      "
    />
    <img
      src="../img/image-folder-desk-min.png"
      alt="pages"
      width="540"
      height="500"
    />
  </picture>
  <div class="colloborative-box">
    <h2 class="colloborative-title">
      <p class="colloborative-title-paragraph">Optimisation for</p>
      Collaborative
    </h2>

    <p class="colloborative-paragraph">
      Few would argue that, despite the advancements of feminism over the past
      three decades, women still face a double standard when it comes to their
      behavior.
    </p>
    <ul class="colloborative-unlist">
      <li class="colloborative-list">
        <h3 class="colloborative-subtitle">Accessory makers</h3>
        <p class="colloborative-subtitle-paragraph">
          While most people enjoy casino gambling, sports betting, lottery and
          bingo playing for the fun
        </p>
      </li>
      <li>
        <h3 class="colloborative-subtitle">Alterationists</h3>
        <p class="colloborative-subtitle-paragraph">
          If you are looking for a new way to promote your business that
          won&apos;t cost you more money,
        </p>
      </li>
    </ul>
  </div>
</section>
