<section class="hero-section-title">
  <!--HERO-->

  <div class="hero">
    <picture class="hero-picture">
      <source
        media="(min-width:1150px)"
        srcset="/img/amico-desk-min.png, /img/amico-desk@2x-min.png 2x" />
      <source
        media="(min-width:320px)"
        srcset="/img/amico-mob-min.png, /img/amico-mob@2x-min.png 2x" />
      <img src="/img/amico-desk-min.png" alt="hero" width="610" height="555"
    /></picture>
    <div class="hero-title">
      <h1 class="hero-title-h">Work at the speed of thought</h1>
      <p class="hero-title-paragraph">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-title-button">
        <li>
          <button class="button-title" type="button">Get started</button>
        </li>
        <li class="hero-title-listbtn">
          <button type="button" class="button-title-play">
            <svg class="button-title-icon" width="20px" height="18px">
              <use href="/img/icons/icons.svg#icon-play"></use></svg
            >Watch the Video
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
