<section class="container management-page">
  <!--Management-->
  <div class="Management-box">
    <div class="management-text-box">
      <ul class="management-unlist-text">
        <li class="management-list-text">
          <p class="management-title-paragraph">Effortless Validation for</p>
          <h2 class="management-title-text">Management</h2>
          <p class="management-paragraph">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
        </li>
        <li class="management-list-text">
          <h3 class="management-subtitle">Accessory makers</h3>
          <p class="management-paragraph">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="management-list-text">
          <h3 class="management-subtitle">Alterationists</h3>
          <p class="management-paragraph">
            If you are looking for a new way to promote your business that
            won&apos;t cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        media="(min-width:1150px)"
        srcset="
          ../img/documents-desk-min.png,
          ../img/documents-desk@2x-min.png 2x
        " />
      <source
        media="(min-width:320px)"
        srcset="
          ../img/documents-mob-min.png,
          ../img/documents-mob@2x-min.png 2x
        " />
      <img
        src="../img/documents-desk-min.png"
        alt="magazines"
        width="540"
        height="500"
    /></picture>
  </div>
</section>
