<div class="mobmenu-title-box" data-menu>
  <div class="mobmenu-box">
    <button type="button" class="close-mob-menu">
      <svg
        class="icon-close-black"
        width="40px"
        height="40px"
        data-menu-close
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.11 2.697L2.698 4.11 6.586 8l-3.89 3.89 1.415 1.413L8 9.414l3.89 3.89 1.413-1.415L9.414 8l3.89-3.89-1.415-1.413L8 6.586l-3.89-3.89z"
          fill="#000"
        ></path>
      </svg>
    </button>
    <nav class="mobmenu-navigation">
      <ul class="footer-navigation-unlist">
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >About Us</a
          >
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">Blog</a>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >Contact</a
          >
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
