<section class="container price">
  <!--staff-->
  <h2 class="price-title">Price Table</h2>
  <p class="price-title-paragraph">We offer competitive price</p>

  <div class="price-shadow-box">
    <h3 class="price-subtitle">Free</h3>
    <p class="price-subtitle-paragraph">Brief price description</p>
    <div class="price-subtitle-number">
      <p class="price-number">0</p>
      <div class="price-valut-box">
        <p class="price-valut">$</p>
        <p class="price-valut-time">Per / month</p>
      </div>
    </div>
    <ul class="price-unlist">
      <li>Only 2 Operators</li>
      <li>Notifications</li>
      <li>Landing Pages</li>
    </ul>
    <button type="button" class="price-button">Order Now</button>
  </div>
  <div class="price-shadow-box price-green-box">
    <h3 class="price-subtitle">Standard</h3>
    <p class="price-subtitle-paragraph">Brief price description</p>
    <div class="price-subtitle-number">
      <p class="price-number">5</p>
      <div class="price-valut-box">
        <p class="price-valut">$</p>
        <p class="price-valut-time">Per / month</p>
      </div>
    </div>
    <ul class="price-unlist">
      <li>5+ Operators</li>
      <li>Notifications</li>
      <li>Landing Pages</li>
    </ul>
    <button type="button" class="price-button price-white-btn">
      Order Now
    </button>
  </div>
  <div class="price-shadow-box">
    <h3 class="price-subtitle">Premium</h3>
    <p class="price-subtitle-paragraph">Brief price description</p>
    <div class="price-subtitle-number">
      <p class="price-number">10</p>
      <div class="price-valut-box">
        <p class="price-valut">$</p>
        <p class="price-valut-time">Per / month</p>
      </div>
    </div>
    <ul class="price-unlist">
      <li>10+ Operators</li>
      <li>Notifications</li>
      <li>Landing Pages</li>
    </ul>
    <button type="button" class="price-button">Order Now</button>
  </div>
</section>
