<section class="container strategies">
  <!--Collaborative-->
  <div class="strategies-box">
    <h2 class="strategies-title">Contents Strategies</h2>
    <p class="strategies-title-paragraph">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="strategies-unlist">
      <li class="strategies-list">
        <picture>
          <source
            media="(min-width:1150px)"
            srcset="
              /img/strategi-1-desk-min.png,
              /img/strategi-1-desk@2x-min.png 2x
            " />
          <source
            media="(min-width:320px)"
            srcset="
              /img/strategi-1-mob-min.png,
              /img/strategi-1-mob@2x-min.png 2x
            " />
          <img
            src="/img/strategi-1-desk-min.png"
            alt="news-1"
            width="540"
            height="500"
            class="strategies-image"
        /></picture>
        <p class="strategies-subtitle-paragraph">
          By <span class="strategies-subparagraph-author">Wahid Ari</span> | 03
          March 2019
        </p>
        <h3 class="strategies-subtitle">
          Increasing Prosperity With Positive Thinking
        </h3>
      </li>
      <li class="strategies-list">
        <picture>
          <source
            media="(min-width:1150px)"
            srcset="
              /img/strategi-2-desk-min.png,
              /img/strategi-2-desk@2x-min.png 2x
            " />
          <source
            media="(min-width:320px)"
            srcset="
              /img/strategi-2-mob-min.png,
              /img/strategi-2-mob@2x-min.png 2x
            " />
          <img
            src="/img/strategi-2-desk-min.png"
            alt="news-2"
            width="540"
            height="500"
            class="strategies-image"
        /></picture>
        <p class="strategies-subtitle-paragraph">
          By <span class="strategies-subparagraph-author">Wahid Ari</span> | 03
          March 2019
        </p>
        <h3 class="strategies-subtitle strategies-subtitle-green">
          Motivation Is The First Step To Success
        </h3>
      </li>
      <li class="strategies-list">
        <picture>
          <source
            media="(min-width:1150px)"
            srcset="
              /img/strategi-3-desk-min.png,
              /img/strategi-3-desk@2x-min.png 2x
            " />
          <source
            media="(min-width:320px)"
            srcset="
              /img/strategi-3-mob-min.png,
              /img/strategi-3-mob@2x-min.png 2x
            " />
          <img
            src="/img/strategi-3-desk-min.png"
            alt="news-2"
            width="540"
            height="500"
            class="strategies-image"
        /></picture>
        <p class="strategies-subtitle-paragraph">
          By <span class="strategies-subparagraph-author">Wahid Ari</span> | 03
          March 2019
        </p>
        <h3 class="strategies-subtitle">
          Success Steps For Your Personal Or Business
        </h3>
      </li>
    </ul>
  </div>
</section>
