<section class="container support-page-section">
  <!--support-->
  <div class="support-page">
    <picture>
      <source
        media="(min-width:1150px)"
        srcset="
          ../img/search-engines-desk-min.png,
          ../img/search-engines-desk@2x-min.png 2x
        " />
      <source
        media="(min-width:320px)"
        srcset="
          ../img/search-engines-mob-min.png,
          ../img/search-engines-mob@2x-min.png 2x
        " />
      <img
        src="../img/search-engines-desk-min.png"
        alt="notebook"
        width="540"
        height="500"
        class="support-picture"
    /></picture>
    <div class="support-text-box">
      <h2 class="support-title-box">
        <p class="support-title-paragraph">Easier decision making for</p>
        <span class="support-title"> Customer Support</span>
      </h2>
      <p class="support-paragraph-subtitle">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-unlist">
        <li class="support-list">
          <div class="support-icon-box support-orange">
            <svg width="16" height="12">
              <use href="../img/icons/icons.svg#icon-Path" />
            </svg>
          </div>
          <p class="support-paragraph-list">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-list">
          <div class="support-icon-box support-red">
            <svg width="16" height="12">
              <use href="../img/icons/icons.svg#icon-Path"></use>
            </svg>
          </div>
          <p class="support-paragraph-list">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list">
          <div class="support-icon-box support-blue">
            <svg width="16" height="12">
              <use href="../img/icons/icons.svg#icon-Path" />
            </svg>
          </div>
          <p class="support-paragraph-list">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
