<section class="container users">
  <!--support-->
  <h2 class="users-title">Quick & Easy Process</h2>
  <p class="users-title-paragraph">
    Do you require some help for your project: Conception workshop, prototyping,
    marketing strategy, landing page, Ux/UI?
  </p>
  <ul class="users-unlist">
    <li class="users-list-left">
      <picture>
        <source
          media="(min-width:1150px)"
          srcset="/img/girl-desk-min.png, /img/girl-desk@2x-min.png 2x"
        />
        <source
          media="(min-width:320px)"
          srcset="/img/girl-mob-min.png, /img/girl-mob@2x-min.png 2x"
        />
        <img
          src="/img/girl-desk-min.png"
          alt="avatar-girl"
          width="98px"
          height="98px"
          class="user-image"
        />
      </picture>

      <div class="users-paragraph-box">
        <p class="users-list-paragraph">I can take care of your pitch</p>
      </div>
    </li>
    <li class="users-list">
      <picture>
        <source
          media="(min-width:1150px)"
          srcset="/img/boy-desk-min.png, /img/boy-desk@2x-min.png 2x"
        />
        <source
          media="(min-width:320px)"
          srcset="/img/boy-mob-min.png, /img/boy-mob@2x-min.png 2x"
        />
        <img
          src="/img/boy-desk-min.png"
          alt="avatar-boy"
          width="98px"
          height="98px"
          class="user-image"
        />
      </picture>
      <div class="users-paragraph-box">
        <p class="users-list-paragraph">I can design you website</p>
      </div>
    </li>
    <li class="users-list-left">
      <picture>
        <source
          media="(min-width:1150px)"
          srcset="/img/man-desk-min.png, /img/man-desk@2x-min.png 2x"
        />
        <source
          media="(min-width:320px)"
          srcset="/img/man-mob-min.png, /img/man-mob@2x-min.png 2x"
        />
        <img
          src="/img/boy-desk-min.png"
          alt="avatar-gf"
          width="98px"
          height="98px"
          class="user-image"
        />
      </picture>
      <div class="users-paragraph-box">
        <p class="users-list-paragraph">I can help marketing strategy</p>
      </div>
    </li>
    <li class="users-list">
      <picture>
        <source
          media="(min-width:1150px)"
          srcset="/img/gm-desk-min.png, /img/gm-desk@2x-min.png 2x"
        />
        <source
          media="(min-width:320px)"
          srcset="/img/gm-mob-min.png, /img/gm-mob@2x-min.png 2x"
        />
        <img
          src="/img/gm-desk-min.png"
          alt="avatar-gm"
          width="98px"
          height="98px"
          class="user-image"
        />
      </picture>
      <div class="users-paragraph-box">
        <p class="users-list-paragraph">I can prototype your app</p>
      </div>
    </li>
  </ul>
  <button type="button" class="users-button">Contact our expert</button>
</section>
