.colloborative{
    padding: 0 31px;
    margin-bottom: 100px;
        display: flex;
    flex-direction: column;
    align-items: center;
}

.colloborative-title-paragraph{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
font-size: 16px;
color: #22343d;
margin-bottom: 8px;
}
.colloborative-title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
font-size: 32px;
color: #22343d;
margin-bottom: 16px;
}
.colloborative-paragraph{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
color: #22343d;
margin-bottom: 16px;
}
.colloborative-unlist{
    display: flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
}
.colloborative-subtitle{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
font-size: 16px;
line-height: 1.625;
color: #22343d;
margin-bottom: 12px;
}
.colloborative-subtitle-paragraph{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
color: #22343d;
}