/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 411px;
  margin: 0 auto;
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
