.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding-bottom: 45px;

}
.footer-social-icons{
  display: flex;
  gap:16px;
  margin-bottom: 32px;
  fill:#02897A;
}
.footer-socials-back{
  background-color: #EDFFFC;
  border-radius:50%;
  background-size:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer-box{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-box h2{
  font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: #22343d;
margin-bottom: 8px;
}
.footer-box a{
  font-weight: 400;
font-size: 16px;
line-height: 2.1875;
text-align: center;
color: #22343d;
}
.footer-box .nav-logo-img{
  margin-bottom: 25px;
}

.footer-navigation-unlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 32px;
}
.footer-form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  margin-bottom:44px;
}
.footer-form-box h3{
  font-weight: 500;
font-size: 20px;
line-height: 1.5;
text-align: center;
color: #22343d;
margin-bottom: 34px;
}
.footer-submit-button{
  width: 131px;
  height: 39px;
  font-weight: 700;
font-size: 16px;
text-align: center;
color: #fff;
background: #02897a;
}
.footer-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}
.footer-form input{
  font-family: "ProximaNova", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #bcd0e5;
border: 1px solid #bcd0e5;
border-radius: 4px;
width: 325px;
height: 48px;
}