
.header-box{
  padding: 17px 20px 17px 32px;
  display: flex;
  justify-content: space-between;
}
.nav-logo-img {
    align-items: center;
    font-weight: 700;
font-size: 30px;
line-height: 1;
color: #173a56;
display:flex;
gap:8px;
}
.header-navigation{
  display: none;
}
.header-list-btn{
  display: none;
}
.header-btn-menu{
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    cursor: pointer;
  width: 28px;
  height: 31px;
}
.header-btn-menu .header-burger-icon:nth-of-type(1){
  top: 25%;
  transform: translateY(-25%);
    transform-origin: center;
}
.header-btn-menu .header-burger-icon:nth-of-type(2){
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
}
.header-btn-menu .header-burger-icon:nth-of-type(3){
  top: 75%;
  transform: translateY(-75%);
  transform-origin: center;
}
.header-burger-icon{
      display: block;
    position: absolute;
    height: 3px;
    width: 21px;
    background-color: #173A56;
    border-radius: 8px;
    -webkit-transition: .3s;
    transition: .3s;
}