.management-page p {
    font-family: "Poppins", sans-serif;

}
.management-page{
    padding: 0 31px;
    margin-bottom: 100px;
}
.management-text-box{
    padding: 50px 30px 0 30px;
    
}
.management-unlist-text{
display: flex;
    flex-direction: column;
    gap: 16px;
}
.Management-box{
    display: flex;
    flex-direction: column-reverse;
}
.management-title-paragraph{ 
    font-weight: 600;
font-size: 16px;
color: #22343d;
margin-bottom: 8px;
}
.management-title-text{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
font-size: 32px;
color: #22343d;

}
.management-paragraph{
    font-family: "Poppins", sans-serif;

    font-weight: 400;
font-size: 16px;
line-height: 1.625;
color: #22343d;
}
.management-subtitle{
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;

font-weight: 600;
font-size: 16px;
line-height: 1.625;
color: #22343d;
}