.mobmenu-title-box{
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    transition: 2s;
}
.mobmenu-title-box.is-open{
    display: flex;
    opacity: 1;
}
.mobmenu-box{
    position: relative;
    width: 358px;
    height: 50vh ;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-close-black{
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #173A56;
}
.footer-navigation-unlist li{
    margin-bottom: 20px;
}
.footer-navigation-unlist a:hover,
.footer-navigation-unlist a:focus{
    color: #173A56;
}