.strategies{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 29px 0 33px;
    margin-bottom: 61px;
}
.strategies-box{
    font-family: "Poppins", sans-serif;
    
}

.strategies-title{
    font-weight: 700;
font-size: 34px;
color: #22343d;
margin-bottom: 8px;
}
.strategies-title-paragraph{
    font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
color: #22343d;
margin-bottom: 40px;
}
.strategies-unlist{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.strategies-list{
    height: 359px;
}
.strategies-image{
    border-top: 8px;
    margin-bottom: 24px;
}
.strategies-subtitle-paragraph{
    font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #22343d;
margin-bottom: 12px;
}
.strategies-subparagraph-author{
    font-weight: 700;
}
.strategies-subtitle{
    font-weight: 700;
font-size: 24px;
line-height: 1.66667;
color: #22343d;
max-width: 294px;
}
.strategies-subtitle-green{
    color: #02897A;
}