/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('/src/css/reset.css');
@import url('/src/css/base.css');
@import url('/src/css/container.css');
@import url('/src/css/animations.css');

/* Sections style */
@import url('/src/css/header.css');
@import url('/src/css/hero-section-title.css');
@import url('/src/css/hero-sect.css');
@import url('/src/css/management-page.css');
@import url('/src/css/support-page-section.css');
@import url('/src/css/colloborative.css');
@import url('/src/css/users.css');
@import url('/src/css/strategies.css');
@import url('/src/css/price-table.css');
@import url('/src/css/workers.css');
@import url('/src/css/boost.css');
@import url('/src/css/footer.css');
@import url('/src/css/mobmenu.css');
