.workers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
}
.workers-list{
    border: 1px solid #dedede;
border-radius: 5px;
padding: 28px 26px 24px 26px;
width: 327px;
height: 236px;
display: flex;
flex-direction: column;
gap: 16px;

}
.workers-icon-box{
    display: flex;
}
.workers-full-istar{
    fill: #f3cd03;
}
.workers-list-paragraph{
    font-weight: 400;
font-size: 16px;
line-height: 1.75;
letter-spacing: 0.01em;
color: #32454f;
}
.workers-worker-box{
    display: flex;
    gap: 14px;
}
.workers-worker-subbox{
    display: flex;
    flex-direction: column;
}
.workers-worker-subbox h3{
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.01em;
color: #02897a
}
.workers-worker-subbox p{
    font-weight: 500;
font-size: 14px;

/* line-height: 24px; */ 
line-height: 1.71429;
letter-spacing: 0.01em;
color: #252b42;
}
